{% extends 'base.html.twig' %}

{% block body_id 'customer_list' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-body text-center">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Date d'inscription</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in paginator.results %}
                    <tr>
                        <td>{{ customer.firstname }}</td>
                        <td>{{ customer.lastname }}</td>
                        <td>{{ customer.mail }}</td>
                        <td>{{ customer.dateAdd|date('d-m-Y H:i') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if paginator.hasToPaginate %}
                <nav class="row justify-content-md-center">
                    <ul class="pagination">
                        <li class="page-item {% if paginator.hasPreviousPage == false %}disabled{% endif %}">
                            <a class="page-link" href="{{ path('customer_list_paginated', {page: paginator.previousPage}) }}" tabindex="-1">Previous</a>
                        </li>

                        {% for i in 1..paginator.lastPage %}
                            {% if i == paginator.currentPage %}
                                <li class="page-item active">
                                  <span class="page-link">
                                    {{ i }}
                                    <span class="sr-only">(current)</span>
                                  </span>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ path('customer_list_paginated', {page: i}) }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <li class="page-item {% if paginator.hasNextPage == false %}disabled{% endif %}">
                            <a class="page-link" href="{{ path('customer_list_paginated', {page: paginator.nextPage}) }}">Next</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}
